html {
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 300px;
  padding: 15% 0;
  padding-left:10px
}

#index_page_main_content{
  color:white;
  font-size:50px;
  font-weight:bold;
}


.nav_links{
  padding-top:100px
}

.a_nav{
  color:white;
}


.font_color{
  color:white;
}
